.app__blog {
  height: 29rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  width: 20rem;
  &__content {
    position: relative;
    &__img {
      align-items: center;
      background: $black-25;
      display: flex;
      height: 12.5rem;
      justify-content: center;
      left: 0;
      padding: 0.25rem;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__title {
      color: $black;
      font-size: 1rem;
      font-weight: $font-weight-bold;
      left: 0;
      line-height: 1.75rem;
      position: absolute;
      top: 14rem;
    }

    &__description {
      color: $black-75;
      display: -webkit-box;
      font-size: 0.875rem;
      font-weight: $font-weight-middle;
      height: 5.25rem;
      left: 0;
      line-height: 1.75rem;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      top: 20rem;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      width: 100%;
    }
  }

  &:hover, &:active {
    cursor: pointer;
    margin-top: -1rem;

    @include media-breakpoint-down(md) {
      margin-top: -0.5rem;
    }

    .app__blog__content__title {
      color: $primary;
    }
  }

  @include media-breakpoint-down(md) {
    height: 7.25rem;
    margin-bottom: 1rem;
    padding: 0;

    .app__blog__content {
      &__img {
        height: 7.5rem;
        width: 50%;
      }

      &__title {
        display: -webkit-box;
        left: 55%;
        overflow: hidden;
        text-overflow: ellipsis;
        top: 0;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        width: 50%;
      }

      &__description {
        display: none;
      }
    }
  }
}
