.app__group__toggle {
  &__button {
    background-color: rgba($input-color, 0.09);
    border-radius: 1.75rem;
    box-shadow: 0 0.125rem 0.5rem 0 rgba($input-color, 0.24);
    display: flex;
    height: 3.625rem;
    margin: 0 auto;
    max-width: 26.25rem;
    width: 100%;

    div {
      align-items: center;
      border-radius: 1.75rem;
      display: flex;
      font-size: 0.875rem;
      font-weight: 800;
      justify-content: center;
      line-height: 1.25rem;
      width: 13.125rem;

      span {
        opacity: 0.25;
      }

      &.active {
        background: linear-gradient(36.72deg, #00aaa6 0%, #00b1e6 100%);
        box-shadow: 0 0.125rem 0.375rem 0 $shadow-color;
        color: $white;

        span {
          opacity: 1;
        }
      }
    }

    &__team {
      letter-spacing: 0.0569rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 7rem;

    @include media-breakpoint-down(md) {
      margin-top: 4.75rem;
    }
  }
}
