.app__header {
  left: 0;
  position: fixed;
  right: 0;
  top: 2rem;
  z-index: 200;

  nav {
    background: transparent !important;

    .app__logo {
      img {
        margin: 0 1rem;
        width: 12.5rem;
      }
    }

    .navbar-toggler {
      border: 0;
      outline: 0;

      &:active, &:hover {
        border: 1px solid $primary;
      }

      &-icon {
        background-image: $navbar-light-toggler-icon-custom;
      }
    }

    .navbar-nav {
      margin: 0 1rem;
      max-width: 45rem;
      width: 100%;
      li a {
        color: $black-50;
        font-size: $body-size;
        font-weight: $font-weight-bold;
        letter-spacing: 0.4px;
        line-height: $body-line-height;
        text-align: right;
        text-transform: uppercase;
      }

      li.active, li:hover, li:active {
        position: relative;

        &:before {
          background: $primary;
          border-radius: 50%;
          content: '';
          height: 2rem;
          margin-left: calc(50% - 1rem);
          margin-top: -4.7rem;
          position: absolute;
          text-align: center;
          width: 2rem;
        }

        a {
          color: $primary !important;
        }
      }
    }
  }

  &__login {
    width: 8rem;
  }
}
