.app__header {
  // background: $white;
  left: 0;
  padding-top: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;

  @include media-breakpoint-down(md) {
    &__menubar {
      background: $primary;
      height: 100%;
      left: 0;
      padding: 2rem 1rem;
      position: fixed;
      top: 0;
      width: 100%;

      &__form {
        justify-content: space-between;

        &__login,
        &__logout {
          padding: 1.125rem;
          width: 10rem;
        }

        &__close {
          height: 2rem;
          padding: 0;
          width: 2rem;

          i {
            color: $white;
            font-size: 1.75rem;
          }
        }
      }

      &__footer hr {
        border-color: $white;
        margin-bottom: 1.75rem;
        margin-top: 2rem;
        opacity: 0.52;
      }

      &__footer ul {
        list-style: none;
        padding: 0;

        li {
          line-height: 1.25rem;
        }

        li a {
          color: $white;
          font-size: 1.25rem;
          font-weight: 800;
          letter-spacing: 0.0356rem;
          padding: 0;
          text-transform: uppercase;

          .separator {
            font-size: 0.75rem;
            margin: 0.75rem;
            opacity: 0.7;
          }

          .hire {
            color: $yellow;
            font-size: 0.75rem;
            letter-spacing: 0.021rem;
            text-transform: initial;
          }
        }

        li + li {
          margin-top: 1.625rem;
        }
      }
    }
  }

  nav {
    background: transparent !important;

    @include media-breakpoint-up(lg) {
      margin: 0 calc((50% - 32rem) * 0.4);
    }

    .app__logo {
      img {
        margin: 0 1rem;
        width: 12.5rem;
      }
    }

    .navbar-toggler {
      border: 0;
      outline: 0;
      padding: 0;

      &:active,
      &:hover {
        border: 0.0625rem solid $primary;
      }

      &-icon {
        background-image: $navbar-light-toggler-icon-custom;
      }
    }

    .navbar-nav {
      margin-right: 2.625rem;
      max-width: 45rem;
      width: 100%;

      li a {
        color: $black-50;
        font-size: $body-size;
        font-weight: $font-weight-bold;
        letter-spacing: 0.025rem;
        line-height: $body-line-height;
        text-transform: uppercase;
      }

      li.active,
      li:hover,
      li:active {
        position: relative;

        @include media-breakpoint-up(lg) {
          &:before {
            background: $primary;
            border-radius: 50%;
            content: '';
            height: 2rem;
            margin-left: calc(50% - 1rem);
            margin-top: -4.7rem;
            position: absolute;
            text-align: center;
            width: 2rem;
          }
        }

        a {
          color: $primary !important;
        }
      }
    }
  }

  &__menubar__form__login,
  &__menubar__form__logout {
    width: 8rem;
  }
}
