.app__offer__item {
  position: relative;

  &__content {
    height: 14rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
    padding-top: 3.5rem;
    width: 14rem;

    @include media-breakpoint-down(md) {
      height: 10.25rem;
      padding-bottom: 1.125rem;
      padding-top: 1.5rem;
      width: 10.25rem;
    }

    &__icon {
      align-items: center;
      display: flex;
      height: 3.5rem;
      justify-content: center;
      width: 3.5rem;

      &__active {
        display: none;
      }
    }

    &__title {
      color: $black;
      font-size: 1.125rem;
      font-weight: $font-weight-middle;
      height: 4.5rem;
      line-height: 1.75rem;
      margin-bottom: 0;
      max-width: 12rem;
      padding-top: 1rem;

      @include media-breakpoint-down(md) {
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 10rem;
      }
    }

    &__active {
      display: none;
    }
  }

  &__background {
    display: none;
  }

  &:hover {
    .app__offer__item {
      &__content {
        background: linear-gradient(16.56deg, #00b0db 0%, #00acb9 33.42%, #00aaa6 100%);
        border-radius: 0.75rem;
        box-shadow: 0 0.25rem 2rem 0 #7bdbdc;
        opacity: 0.5;

        &__title {
          color: $white;
        }

        &__icon {
          &__img {
            display: none;
          }

          &__active {
            display: block;
            padding-top: 100%;
            position: relative;
            width: 100%;
            &__circle {
              background-color: $white;
              border-radius: 50%;
              height: 80%;
              left: 10%;
              opacity: 0.9;
              position: absolute;
              top: 10%;
              width: 80%;
            }

            &__triangle {
              border-bottom: 0.5rem solid transparent;
              border-left: 0.8rem solid $primary;
              border-top: 0.5rem solid transparent;
              height: 0;
              left: calc(50% - 0.3rem);
              position: absolute;
              top: calc(50% - 0.4rem);
            }
          }
        }
      }

      &__background {
        align-items: center;
        border-radius: 0.75rem;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;

        img {
          display: none;
          width: 100%;
        }
      }
    }
  }

  &.active {
    .app__offer__item {
      &__content {
        background: linear-gradient(134.78deg, #00aaa6 0%, #00afd7 100%);
        border-radius: 0.75rem;
        box-shadow: $box-shadow-3;
        opacity: 1;
        padding: 5.25rem 2rem;

        @include media-breakpoint-down(md) {
          padding: 2.5rem 2rem;
        }

        &__icon {
          display: none;
        }

        &__title {
          display: none;
        }

        &__active {
          color: $white;
          display: block;
          font-size: 0.875rem;
          font-weight: 800;
          letter-spacing: 0.9px;
          line-height: 1.75rem;
          text-align: center;
          text-transform: uppercase;
        }
      }

      &__background {
        display: none;
      }
    }
  }
}
