.app__video__mask {
  padding-top: 100%;
  width: 100%;

  @include media-breakpoint-down(md) {
    margin: -25% auto -15%;
  }

  &__circle {
    background-color: $secondary;
    border-radius: 50%;
    position: absolute;
  }

  &__circle1 {
    height: 100%;
    left: 0;
    opacity: 0.05;
    top: 0;
    width: 100%;

    @include media-breakpoint-down(md) {
      height: 70%;
      left: 15%;
      top: 15%;
      width: 70%;
    }
  }

  &__circle2 {
    height: 70%;
    left: 15%;
    opacity: 0.1;
    top: 15%;
    width: 70%;

    @include media-breakpoint-down(md) {
      height: 40%;
      left: 30%;
      top: 30%;
      width: 40%;
    }
  }

  &__circle3 {
    height: 25%;
    left: 37.5%;
    opacity: 0.5;
    top: 37.5%;
    width: 25%;

    @include media-breakpoint-down(md) {
      height: 18%;
      left: 41%;
      top: 41%;
      width: 18%;
    }
  }

  &__background {
    background: $black;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
  }

  &__player {
    left: -100%;
    position: absolute;
    top: 0;
    width: 200%;
    z-index: 201;

    &__close {
      background: transparent;
      height: 1.5rem;
      position: absolute;
      right: -2rem;
      top: 0;
      width: 1.5rem;

      i {
        color: $white;
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
  }

  &__triangle {
    border-bottom: 1rem solid transparent;
    border-left: 1.6rem solid #fff;
    border-top: 1rem solid transparent;
    height: 0;
    left: calc(50% - 0.5rem);
    position: absolute;
    top: calc(50% - 0.8rem);
  }

  &:hover {
    cursor: pointer;

    .app__video__mask__circle1 {
      opacity: 0.2;
    }

    .app__video__mask__circle2 {
      background-color: $white;
      opacity: 0.3;
    }

    .app__video__mask__circle3 {
      background-color: $white;
      opacity: 0.5;
    }

    .app__video__mask__triangle {
      border-left-color: rgba(0, 176, 220, 0.5);
    }
  }
}
