.btn {
  border-radius: 1.75rem;
  font-size: $font-size-sm;
  font-weight: 800;
  letter-spacing: 0.91px;
  line-height: $body-line-height;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;

  &__primary {
    background-color: $white;
    box-shadow: $box-shadow-2;
    color: $primary;

    &:hover, &:active {
      background-color: linear-gradient(36.72deg, #00aaa6 0%, #00b1e6 100%);
      box-shadow: $box-shadow-custom;
      color: $white;
    }
  }

  &__secondary {
    background-color: linear-gradient(36.72deg, #00aaa6 0%, #00b1e6 100%);
    box-shadow: $box-shadow-custom;
    color: $white;

    &:hover, &:active {
      background-color: $white;
      box-shadow: $box-shadow-2;
      color: $primary;
    }
  }
}
