.btn {
  border: 0;
  border-radius: 1.75rem;
  font-size: $font-size-sm;
  font-weight: 800;
  letter-spacing: 0.0569rem;
  line-height: $body-line-height;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;

  &__primary {
    background: linear-gradient(36.72deg, #00aaa6, #00b1e6);
    box-shadow: $box-shadow-custom;
    color: $white;

    &:hover,
    &:active {
      background: $white;
      box-shadow: none;
      color: $primary;
      cursor: pointer;
    }
  }

  &__secondary {
    background: $white;
    box-shadow: $box-shadow-2;
    color: $primary;

    &:hover,
    &:active {
      background: linear-gradient(36.72deg, #00aaa6, #00b1e6);
      box-shadow: $box-shadow-custom;
      color: $white;
      cursor: pointer;
    }
  }

  &:focus {
    outline: 0;
  }
}
