.app__home {
  &__section {
    margin-top: 9rem;
    @include media-breakpoint-up(lg) {
      margin: 15rem 5% 0;
    }
    @include media-breakpoint-up(xl) {
      margin: 15rem 12.5% 0;
    }
  }

  &__section1 {

    &__header {
      color: $black;
      font-weight: $font-weight-bold;
      letter-spacing: 1px;
      margin-right: 1rem;
    }

    &__subheader {
      color: $black;
      margin-bottom: 2.5rem;
      margin-top: 2rem;
      opacity: 0.5;
    }

    &__terms {
      color: $black;
      margin-top: 1rem;
      opacity: 0.5;

      span {
        color: $primary;
      }
    }
  }

  &__section3 {
    .app__title {
      margin-bottom: 1.5rem;
      @include media-breakpoint-up(lg) {
        margin-bottom: 4rem;
      }
    }
  }

  &__section4 {
    &__subtitle {
      color: $black;
      font-weight: $font-weight-middle;
      margin-bottom: 2.5rem;
      margin-top: 1.75rem;
      opacity: 0.5;
      text-align: center;

      @include media-breakpoint-up(lg) {
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        text-align: left;
      }
    }

    &__download {
      margin: 0.75rem auto 0;
      width: 100%;

      @include media-breakpoint-up(lg) {
        margin-top: 0.5rem;
        width: initial;
      }

      &:hover, &:active {
        background-color: $primary;
        color: $white;
      }
    }

    .margin-align {
      margin-bottom: 1.5rem;
      margin-top: -3.5rem;
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }

  &__section5 {
    margin-top: 7rem;
    @include media-breakpoint-up(lg) {
      margin-top: 11rem;
    }

    &__overview {
      margin-top: 5rem;

      @include media-breakpoint-down(md) {
        margin-top: 1.5rem;
      }
    }

    img {
      margin-top: -3rem;
      width: 120%;
    }
  }

  &__section6 {
    margin-top: 7rem;
    @include media-breakpoint-up(lg) {
      margin-top: 13rem;
    }
  }

  &__section7 {
    margin-top: 12.5rem;

    &__content {
      display: flex;
      margin-top: 3.5rem;

      &__iphone {
        background-color: $primary;
        border-radius: 0.75rem;
        box-shadow: 0 0.25rem 2rem 0 #7bdbdc;
        display: inline-block;
        height: 27.75rem;
        margin-right: 4rem;
        padding: 5.25rem 1.5rem 2.5rem;
        text-align: center;
        width: 16rem;

        &__img {
          align-items: center;
          display: flex;
          height: 3.5rem;
          justify-content: center;
          width: 3.5rem;
        }

        &__title {
          color: $white;
          font-size: $subheader-size;
          font-weight: $font-weight-bold;
          letter-spacing: 0.01px;
          line-height: $body-line-height;
          margin: 6.5rem 1rem 0;
        }

        &__button {
          margin-top: 4.25rem;
        }

        &:hover, &:active {
          background-color: $white;

          .app__home__section7__content__iphone {
            &__title {
              color: #868a8c;
            }

            &__button {
              background: linear-gradient(36.72deg, #00aaa6, #00b1e6);
              box-shadow: $box-shadow-custom;
              color: $white;
            }
          }
        }
      }

      &__android {
        background-color: $white;
        border-radius: 0.75rem;
        box-shadow: 0 0.25rem 2rem 0 #7bdbdc;
        display: inline-block;
        height: 27.75rem;
        padding: 5.25rem 1.5rem 2.5rem;
        text-align: center;
        width: 16rem;

        &__img {
          align-items: center;
          display: flex;
          height: 3.5rem;
          justify-content: center;
          width: 3.5rem;
        }

        &__title {
          color: #868a8c;
          font-size: $subheader-size;
          font-weight: $font-weight-bold;
          letter-spacing: 0.01px;
          line-height: $body-line-height;
          margin: 6.5rem 1rem 0;
        }

        &__button {
          font-size: 0.875rem;
          letter-spacing: 0.91px;
          line-height: 1.25rem;
          margin-top: 4.25rem;
          padding: 0.875rem 1.25rem;
        }

        &:hover, &:active {
          background-color: $primary;

          .app__home__section7__content__android {
            &__title {
              color: $white;
            }

            &__button {
              background: $white;
              box-shadow: none;
              color: $primary;
            }
          }
        }
      }

      &__img {
        // width: calc(100% - 36rem);
      }
    }
  }
}
