.app__investor {
  overflow: hidden;
  position: relative;

  &__section1 {
    margin-bottom: 10rem;
    margin-top: 11.25rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 7.5rem;
      margin-top: 8.75rem;
    }

    &__content {
      &__title {
        color: $black;
        font-size: 2.25rem;
        font-weight: $font-weight-bold;
        line-height: 2.25rem;

        @include media-breakpoint-down(md) {
          font-size: 1.625rem;
          line-height: 2.625rem;
        }
      }

      &__subtitle {
        color: $black;
        font-size: 1.125rem;
        font-weight: $font-weight-bold;
        line-height: 2.25rem;
        margin-bottom: 3.5rem;
        margin-top: 2.25rem;

        @include media-breakpoint-down(md) {
          font-size: 1.125rem;
          line-height: 2.25rem;
          margin-bottom: 2.125rem;
          margin-top: 1.875rem;
        }
      }

      &__description {
        color: #13152b;
        font-size: 1rem;
        line-height: 1.75rem;
        text-align: justify;

        @include media-breakpoint-down(md) {
          color: $black;
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }

      &__download {
        margin-top: 2.5rem;

        @include media-breakpoint-down(md) {
          margin-top: 2rem;
          text-align: center;

          button {
            font-size: 0.75rem;
            letter-spacing: 0.0488rem;
            line-height: 1.25rem;
            padding: 1.125rem 1.75rem;
          }
        }

        button {
          padding: 1.125rem 1.5rem;
        }
      }
    }
  }

  &__mask {
    &__bottom {
      bottom: 0;
      position: absolute;
      right: 0;
      transform: scaleX(-1);
      z-index: -1;

      img {
        height: 40rem;
        opacity: 0.32;
        width: 26rem;
      }
    }
  }
}
