.app__support {
  overflow: hidden;
  position: relative;

  &__section1 {
    margin-bottom: 9rem;
    margin-top: 11.25rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 7.5rem;
      margin-top: 8.75rem;
    }

    &__content {
      &__title {
        color: $black;
        font-size: 2.25rem;
        font-weight: $font-weight-bold;
        line-height: 2.25rem;
        text-align: center;

        @include media-breakpoint-down(md) {
          font-size: 1.625rem;
          line-height: 2.625rem;
        }
      }

      &__description {
        color: #13152b;
        font-size: 1rem;
        line-height: 1.625rem;
        margin: 2.5rem -2.25rem 0;
        text-align: center;

        @include media-breakpoint-down(md) {
          margin: 2.25rem 0 0;
        }
      }

      &__form {
        box-shadow: 0 0.25rem 2.25rem 0 rgba(242, 242, 242, 0.5);
        margin-top: 3.375rem;
        padding: 0.75rem 2.25rem 2.5rem;

        @include media-breakpoint-down(md) {
          margin-top: 4.875rem;
          padding: 0;
        }

        &__button {
          display: block;
          height: 3.5rem;
          margin: 2.5rem auto 0;
          width: 13rem;
        }
      }
    }
  }

  &__notification {
    background-color: $primary;
    border-radius: 0.5rem;
    bottom: 9rem;
    display: flex;
    height: 6.25rem;
    justify-content: space-between;
    left: 5rem;
    padding: 1.25rem 1.25rem 1rem 1rem;
    position: absolute;
    width: 20.5rem;

    &__context {
      color: $white;
      font-size: 1rem;
      height: 4rem;
      line-height: 1.75rem;
      width: 13.25rem;
    }

    &__icon {
      align-items: center;
      display: flex;
      justify-content: center;

      i {
        color: $white;
        font-size: 3rem;
        font-weight: $font-weight-light;
      }
    }
  }
}
