@import url('//fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,800,800i,900,900i');

$font-family-sans-serif: Muli, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * 0.875);
$font-size-xs: ($font-size-base * 0.75);

$small-font-size: 0.625rem;
$caption-size: 0.75rem;
$body-size: 0.875rem;
$subheader-size: 1rem;
$title-size: 1.125rem;
$headline-size: 1.5rem;
$display-size: 2.25rem;
$jumbo-size: 3rem;
$mega-size: 4.5rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-middle: 600;
$font-weight-bold: 900;

$small-line-height: 1rem;
$caption-line-height: 1.25rem;
$body-line-height: 1.25rem;
$subheader-line-height: 1.75rem;
$title-line-height: 1.75rem;
$headline-line-height: 2.25rem;
$display-line-height: 3.375rem;
$jumbo-line-height: 4rem;
$mega-line-height: 6rem;
